.card{
    max-height: 200px;
    max-width: 200px;
}
.imagem{
    max-height: 100px;
    max-width: 100px;
}

.cards{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.card2{
    display: flex;
    flex-direction: column;
}