 .card{
    max-height: fit-content;
    max-width: fit-content;
    border: 2px solid #3498db;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: cornflowerblue;
} 

.cards_oasis{
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    margin-top: 30px;
}

.cards_ovonovo{
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    margin-top: 30px;
}

.card2{
    display: flex;
    flex-direction: column;
}

.header_card{
    font-size: 20px;
}

.header2_card{
    margin-top: 10px;
}

.imagem{
    max-height: 100px;
    max-width: 100px;
}

.div_imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;   
}

.telemetria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;  
}

p {
    margin-bottom: 6px;
}


